<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="cn"  connectionString = "Data Source=tutorhqserver.database.windows.net;Initial Catalog=TutorHQdb;User ID=tutorhq;password=MasterDB@2023;"/>
	</connectionStrings>
</configuration>